<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
     <li class="sidebar-item"><h2>Editing Course</h2></li>
    </ul>
   
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
		  <div class="panel-heading text-center">Update the course</div>
    <div class="panel-body">
      <div class="container">


			<%= render 'form', program: @program %>

			<%= link_to 'Show', @program , class: "btn btn-link" %> |
			<%= link_to 'Back', programs_path , class: "btn btn-link"  %>
	   </div>
	</div>
    </div>
   </div>
</div>